<section>
    <div class="page-header">
      <h1>Embroideries List</h1>
    </div>
    <br/>
    <div class="table-responsive">
       <table class="table table-striped">
         <thead>
            <tr>
              <th>Reference</th>
              <th>Description</th>
              <th>Retail price</th>
              <th>Stitches</th>
              <th>Colors</th>
              <th>Square millimeters</th>
              <th>Options</th>
            </tr>
          </thead>
          <tbody ng-init="vm.initList()">
            <tr ng-repeat="embroidery in vm.data">
              <td>{{embroidery.reference}}</td>
              <td>{{embroidery.description}}</td>
              <td>{{embroidery.retailPrice}}</td>
              <td>{{embroidery.stitches}}</td>
              <td>{{embroidery.colors}}</td>
              <td>{{embroidery.squareMillimeters}}</td>
              <td>
              	<a class="btn btn-primary" ng-href="#feature03/update-embroidery/{{embroidery.id}}">Edit</a>
              	<input class="btn btn-danger" type="button"  value="Delete" ng-click="vm.deleteEmbroidery(embroidery.id)">
              </td>
            </tr>
          </tbody>
        </table>
            
        <div class="no-data" ng-if="vm.data.length === 0">
           <div class="panel-body"> No embroideries found </div>
        </div>
    </div>
</section>