<section>
    <div class="page-header">
      <h2>New Embroidery</h2>
    </div>
    <div class="container col-md-offset-3">
       <form class="form-horizontal" role="form" name="formEmbroidery" ng-submit="vm.createEmbroidery()">
       
          <div class="form-group">
            <label class="control-label label-id col-md-1">Id</label>
            <div class="col-md-4">
               <input type="number" class="form-control"  placeholder="id" ng-model='vm.embroidery.id' required>
            </div>
          </div>
          
          <div class="form-group">
            <label class="control-label label-reference col-md-1">Reference</label>
            <div class="col-md-4">
                <input type="text" class="form-control"  placeholder="Reference" ng-model='vm.embroidery.reference' required>
            </div>
          </div>
          
           <div class="form-group">
            <label class="control-label label-description col-md-1">Description</label>
            <div class="col-md-4">
               <input type="text" class="form-control"  placeholder="Description" ng-model='vm.embroidery.description' required>
            </div>
          </div>
          
          <div class="form-group">
            <label class="control-label label-price col-md-1">Retail-Price</label>
             <div class="col-md-4">
                <input type="number" class="form-control" name="price" placeholder="Retail Price (0,00)"  ng-model='vm.embroidery.price' ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" required>
            </div>
          </div>
          
           <div class="form-group">
            <label class="control-label label-stitches col-md-1">Stitches</label>
             <div class="col-md-4">
                <input type="number" class="form-control"  placeholder="Stitches" ng-model='vm.embroidery.stitches' required>
             </div>
          </div>
          
          <div class="form-group">
            <label class="control-label label-colors col-md-1">Color</label>
            <div class="col-md-4">
               <input type="number" class="form-control"  placeholder="Color" ng-model='vm.embroidery.colors' required>
            </div>
          </div>
          
           <div class="form-group">
            <label class="control-label label-millimeters col-md-1">Millimiters</label>
            <div class="col-md-4">
               <input type="number" class="form-control"  placeholder="Millimiters" ng-model='vm.embroidery.millimiters'  required>
            </div>
          </div>
          
          <div class="form-group"> 
             <div class="col-md-offset-2 col-md-10">
               <input type="submit" class="btn btn-primary "  value="Guardar"> 
             </div>
          </div> 
          
                         
      </form>
    </div>
</section>

