<section>
    <div class="page-header">
      <h2>Update Article</h2>
    </div>
    <div class="container col-md-offset-3">
       <form class="form-horizontal" role="form" name="formArticle" ng-init="vm.findOneArticle()" ng-submit="vm.updateArticle()">
       
          <div class="form-group">
            <label class="control-label label-id col-md-1">Id</label>
            <div class="col-md-4">
               <input type="number" class="form-control"  placeholder="id" ng-model='vm.article.id' required readonly>
            </div>
          </div>
          
          <div class="form-group">
            <label class="control-label label-reference col-md-1">Reference</label>
            <div class="col-md-4">
                <input type="text" class="form-control"  placeholder="Reference" ng-model='vm.article.reference' required>
            </div>
          </div>
          
           <div class="form-group">
            <label class="control-label label-description col-md-1">Description</label>
            <div class="col-md-4">
               <input type="text" class="form-control"  placeholder="Description" ng-model='vm.article.description' required>
            </div>
          </div>
          
          <div class="form-group">
            <label class="control-label label-price col-md-1">Retail-Price</label>
             <div class="col-md-4">
                <input type="number" class="form-control" name="price" placeholder="Retail Price (0,00)"  ng-model='vm.article.retailPrice' ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" required>
            </div>
          </div>
          
           <div class="form-group">
            <label class="control-label label-stitches col-md-1">Wholesale Price</label>
             <div class="col-md-4">
                <input type="number" class="form-control"  placeholder="Wholesale Price" ng-model='vm.article.wholesalePrice' required>
             </div>
          </div>
          
          <div class="form-group">
            <label class="control-label label-stock col-md-1">Stock</label>
             <div class="col-md-4">
                <input type="number" class="form-control"  placeholder="Stock" ng-model='vm.article.stock' required>
             </div>
          </div>
          
         <div class="form-group" ng-init="vm.providerList()">
            <label class="control-label label-colors col-md-1">Provider</label>
            <div class="col-md-4">
                <select class="form-control" name='providerId' ng-model="vm.article.providerId" ng-options="p.id as p.company for p in vm.providers" required>
                    <option value="">Seleccionar</option>
                </select>
            </div>
          </div>
          
          <div class="form-group"> 
             <div class="col-md-offset-2 col-md-10">
               <input type="submit" class="btn btn-primary "  value="Guardar"> 
             </div>
          </div> 
          
                         
      </form>
    </div>
</section>
