<section class="container">
 <div class="jumbotron text-center fondo_form">
   <fieldset>
    <legend>Feature00. Login. Autor Jesus Bernal</legend>
    <form class="form-horizontal" role="form" name='login' id='login' ng-submit="loginCtrl.login()">
        <div class="form-group">
            <label class="control-label col-sm-2 " for="usuario" >Mobile:</label>
            <div class='col-sm-10'>
                 <input type='text' class="form-control" name='mobile' ng-model='mobile' required/>
            </div>    
        </div>        
        <div class="form-group">
            <label class="control-label col-md-3" for="pwd">Password:</label>
            <div class='col-sm-10'>
                 <input type='password' class="form-control" name='password' ng-model='password' required />
            </div>    
        </div>           
        <div class="form-group"> 
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            <div id='ok' class="alert alert-success col-sm-10" ng-show = "loginCtrl.completed">
              <strong>Petición correcta</strong>
            </div>
            <div id='alerta' class="alert alert-danger col-sm-10" ng-show = "loginCtrl.error">
              <strong>Error!!!</strong>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="respuesta">Respuesta:</label>
            <div class="col-sm-10">
                <input type='text' class="form-control" name='respuesta' ng-model='loginCtrl.respuesta' readonly/>
            </div>
        </div>    
    </form>        
  </fieldset>
 </div>    
</section>   
