<section class="container">
	<div class="jumbotron text-center">
		<fieldset>
			<legend>Feature00.registration. Autor Jesus Bernal</legend>
			<form class="form-horizontal">
                <div class="form-group">
                    <label class="bg-primary col-sm-12">Registro de {{vm.user()}}</label>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2 " for="mobile">Mobile:</label>
                    <div class='col-sm-10'>
                        <input type='text' class="form-control" ng-model='vm.mobile' required />
                    </div>
                </div>
				<div class="form-group">
					<label class="control-label col-sm-2 " for="username">Username:</label>
					<div class='col-sm-10'>
						<input type='text' class="form-control" ng-model='vm.username'
							required />
					</div>
				</div>
				<div class="form-group" ng-show="vm.user()==='manager'">
					<label class="control-label col-sm-2" for="password">Password:</label>
					<div class='col-sm-10'>
						<input type='password' class="form-control" ng-model='vm.password'
							required />
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-2 ">
						<button class="btn btn-primary btn-sm"
							ng-click="vm.registration()">Enviar</button>
					</div>
					<label class="bg-success col-sm-6" ng-show="vm.completed">Petición
						correcta</label> <label class="bg-danger col-sm-6" ng-show="vm.error">Error!!!</label>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2">Respuesta:</label>
					<label class="col-sm-10" ng-bind='vm.response'></label>
				</div>
			</form>
		</fieldset>
	</div>
</section>
