<section class="container">
 <div class="jumbotron text-center fondo_form">
   <fieldset>
    <legend>Consulta de usuario</legend>
    <form class="form-horizontal" role="form" name='query' id='query' ng-submit="qryCtrl.userQuery(telf)">
        <div class="form-group form-group-lg">
            <label for="correo" class="col-md-3 control-label">Teléfono:</label>
            <div class='col-md-8'>
                 <input type='text' class="form-control" name='telf' ng-model='telf' required 
                        placeholder="Empieza por 9, 6 ó 7 y tiene 9 cifras" pattern="^[9|6|7][0-9]{8}$"/>
            </div>    
        </div>          
        <div class="form-group form-group-lg">
            <label for="usuario" class="col-md-3 control-label">Usuario:</label>
            <div class='col-md-8'>
                 <input type='text' class="form-control" name='usuario' ng-model='qryCtrl.usuario' readonly/>
            </div>    
        </div>              
        <div class="form-group form-group-md">            
            <div class='col-md-2 col-md-push-5'>
                <button type="submit" class="btn btn-primary btn-lg" ng-disabled="query.$invalid || query.$pristine">Enviar</button>
            </div>
            <div id='alerta' class="alert alert-info col-md-3 col-md-push-5" ng-show = "qryCtrl.queryWait">
                <img ng-src='assets/img/wait.gif' />
            </div>    
            <div id='alerta' class="alert alert-danger col-md-3 col-md-push-5" ng-show = "qryCtrl.queryError">
                <strong>Usuario inexistente</strong>
            </div>      
        </div>    
    </form>        
  </fieldset>
 </div>    
</section>   
