<section>
    <div class="page-header">
      <h1>Providers list</h1>
    </div>
    <div class="container">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Company</th>
                        <th>Address</th>
                        <th>Mobile</th>
                        <th>Phone</th>
                        <th>Payment conditions</th>
                        <th>Note</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody ng-init="vm.listProviders()">
                    <tr ng-repeat="provider in vm.data">
                        <td>{{provider.id}}</td>
                        <td>{{provider.company}}</td>
                        <td>{{provider.address}}</td>
                        <td>{{provider.mobile}}</td>
                        <td>{{provider.phone}}</td>
                        <td>{{provider.paymentConditions}}</td>
                        <td>{{provider.note}}</td>
                        <td>
                            <input class="btn btn-danger" type="button" value="Delete" ng-click="vm.deleteProvider(provider.id)">
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="no-data" ng-if="vm.data.length === 0">
                <div class="panel-body"> No providers found </div>
            </div>
        </div>
    </div>
</section>