<section>
    <div class="page-header">
      <h1>Article search</h1>
    </div>
	<div class="panel panel-primary">
	    <div class="panel-heading clickable" ng-click="vm.onClickAdvancedSearch()">
	       Advanced search
	       <div class="pull-right">
		       <div ng-show="vm.searchVisibility">
		           Hide filters
		           <span class="glyphicon glyphicon-chevron-up"></span>
		       </div>
		       <div ng-hide="vm.searchVisibility">
		           Show filters
		           <span class="glyphicon glyphicon-chevron-down"></span>
		       </div>
	       </div>
	    </div>
		<div class="panel-body" ng-show="vm.searchVisibility">
		    <div class="row">
			    <div class="col-lg-4">
			        <div class="form-group">
			            <label for="referenceInput">Search by reference</label>
			            <input ng-model="search.reference" id="referenceInput" placeholder="627-23-12_TPV" class="form-control">
			        </div>
			    </div>
			    <div class="col-lg-8">
			        <div class="row">
			            <div class="form-group col-lg-4">
			                <label for="exactRetailPriceInput">Exact retail price</label>
			                <input ng-model="vm.exactRetailPrice" type="number" min="0" step="0.01" id="exactRetailPriceInput" class="form-control">
			            </div>
			            <div class="form-group col-lg-4">
			                <label for="minRetailPriceInput">Min retail price</label>
			                <input ng-model="vm.minRetailPrice" type="number" min="0" step="0.01" id="minRetailPriceInput" class="form-control">
			            </div>
			            <div class="form-group col-lg-4">
			                <label for="maxRetailPriceInput">Max retail price</label>
			                <input ng-model="vm.maxRetailPrice" type="number" min="0" step="0.01" id="maxRetailPriceInput" class="form-control">
			            </div>
			        </div>  
			    </div>
			</div>
		    <div class="row">
		        <div class="col-lg-4">
					<div class="form-group">
			            <div class="checkbox">
			                <label>
			                    <input type="checkbox" ng-model="vm.showOnlyOnStock">On stock
			                </label>
			            </div>
					</div>  
					<button class="btn btn-primary" ng-click="vm.clearFilters()">
					   <span class="glyphicon glyphicon-refresh"></span>
					   Clear filters
					</button>
		        </div>
		        <div class="col-lg-8">
		            <div class="row">
			            <div class="form-group col-lg-4">
			                <label for="exactWholesalePriceInput">Exact wholesale price</label>
			                <input ng-model="vm.exactWholesalePrice" type="number" min="0" step="0.01" id="exactWholesalePriceInput" class="form-control">
			            </div>
			            <div class="form-group col-lg-4">
			                <label for="minWholesalePriceInput">Min wholesale price</label>
			                <input ng-model="vm.minWholesalePrice" type="number" min="0" step="0.01" id="minWholesalePriceInput" class="form-control">
			            </div>
			            <div class="form-group col-lg-4">
			                <label for="maxWholesalePriceInput">Max wholesale price</label>
			                <input ng-model="vm.maxWholesalePrice" type="number" min="0" step="0.01" id="maxWholesalePriceInput" class="form-control">
			            </div>
		            </div>
		        </div> 
		    </div>
	    </div>
    </div>
    <br/>
    <div class="panel panel-primary">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Reference</th>
                        <th>Description</th>
                        <th>Retail price</th>
                        <th>Wholesale price</th>
                        <th>Stock</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="article in articlesFiltered = (vm.articles | filter:search | filter:vm.filterExactRetailPrice | filter:vm.filterRetailPrice | filter:vm.filterOnStock | filter:vm.filterWholesalePrice | filter: vm.filterExactWholesalePrice)">
                        <td>{{article.reference}}</td>
                        <td>{{article.description}}</td>
                        <td>{{article.retailPrice}}</td>
                        <td>{{article.wholesalePrice}}</td>
                        <td>{{article.stock}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="panel" ng-hide="articlesFiltered.length">
                <div class="panel-body">
                    No products found with this data
                </div>
            </div>
        </div>
    </div>
</section>