<section>
    <div class="page-header">
	  <h1>Embroidery search</h1>
	</div>
	<div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <div class="panel-title pull-left">
                Search filters
            </div>
            <div class="clearfix visible-xs"></div>
            <div class="pull-right center">
                <span class="clickable">            
                    <span ng-click="vm.onClickAdvancedSearch()">
                        <button class="btn btn-info" ng-show="vm.advancedSearchVisibility">
                           Hide advanced filters
                           <span class="glyphicon glyphicon-chevron-up"></span>
                        </button>
                        <button class="btn btn-info" ng-hide="vm.advancedSearchVisibility">
                           Show advanced filters
                           <span class="glyphicon glyphicon-chevron-down"></span>
                        </button>
                   </span>
                   <button class="btn btn-warning" ng-click="vm.clearFilters()">
                       Clear filters
                       <span class="glyphicon glyphicon-refresh"></span>
                   </button>
                </span>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="referenceInput">Search by reference</label>
                        <input ng-model="vm.reference" id="referenceInput" placeholder="627-23-12_TPV" class="form-control">
                    </div>
                    
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="minRetailPriceInput">Min retail price</label>
                            <input ng-model="vm.minRetailPrice" type="number" min="0" step="0.01" id="minRetailPriceInput" class="form-control">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="maxRetailPriceInput">Max retail price</label>
                            <input ng-model="vm.maxRetailPrice" type="number" min="0" step="0.01" id="maxRetailPriceInput" class="form-control">
                        </div>
                        <button class="btn btn-primary" ng-click="vm.onClickSearchButton()">
                            <span class="glyphicon glyphicon-search"></span>
                            Search
                        </button>                               
                    </div>  
                </div>
            </div>
            <div class="row" ng-show="vm.advancedSearchVisibility">
                <hr/>
                <div class="col-md-4">              
	                <div class="form-group">
	                    <label for="minStitchesInput">Min number of stitches</label>
	                    <input ng-model="vm.minStitches" type="number" min="0" id="minStitchesInput" class="form-control">
	                </div>
	                <div class="form-group">
	                    <label for="maxStitchesInput">Max number of stitches</label>
	                    <input ng-model="vm.maxStitches" type="number" min="0"  id="maxStitchesInput" class="form-control">
	                </div>
                </div>
                <div class="col-md-4">
	                <div class="form-group ">
	                    <label for="minColorsInput">Min number of colors</label>
	                    <input ng-model="vm.minColors" type="number" min="0" id="minColorsInput" class="form-control">
	                </div>
	                <div class="form-group">
	                    <label for="maxColorsInput">Max number of colors</label>
	                    <input ng-model="vm.maxColors" type="number" min="0" id="maxColorsInput" class="form-control">
	                </div>                    
                </div> 
                <div class="col-md-4">
	                <div class="form-group">
	                    <label for="minSquareMillimetersInput">Min square millimeters</label>
	                    <input ng-model="vm.minSquareMillimeters" type="number" min="0" step="0.01" id="minSquareMillimetersInput" class="form-control">
	                </div>
	                <div class="form-group">
	                    <label for="maxSquareMillimetersInput">Max square millimeters</label>
	                    <input ng-model="vm.maxSquareMillimeters" type="number" min="0" step="0.01" id="maxSquareMillimetersInput" class="form-control">
	                </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="panel panel-primary">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="clickable" ng-click="vm.sortType='reference'; vm.sortReverse = !vm.sortReverse">
                            Reference
                            <span ng-show="vm.sortType=='reference' && vm.sortReverse" class="glyphicon glyphicon-triangle-bottom text-primary"></span>
                            <span ng-show="vm.sortType=='reference' && !vm.sortReverse" class="glyphicon glyphicon-triangle-top text-primary"></span>
                        </th>
                        <th class="clickable" ng-click="vm.sortType='description'; vm.sortReverse = !vm.sortReverse">
                            Description
                            <span ng-show="vm.sortType=='description' && vm.sortReverse" class="glyphicon glyphicon-triangle-bottom text-primary"></span>
                            <span ng-show="vm.sortType=='description' && !vm.sortReverse" class="glyphicon glyphicon-triangle-top text-primary"></span>
                        </th>
                        <th class="clickable" ng-click="vm.sortType='retailPrice'; vm.sortReverse = !vm.sortReverse">
                            Retail price
                            <span ng-show="vm.sortType=='retailPrice' && vm.sortReverse" class="glyphicon glyphicon-triangle-bottom text-primary"></span>
                            <span ng-show="vm.sortType=='retailPrice' && !vm.sortReverse" class="glyphicon glyphicon-triangle-top text-primary"></span>
                        </th>
                        <th class="clickable" ng-click="vm.sortType='stitches'; vm.sortReverse = !vm.sortReverse">
                            Stitches
                            <span ng-show="vm.sortType=='stitches' && vm.sortReverse" class="glyphicon glyphicon-triangle-bottom text-primary"></span>
                            <span ng-show="vm.sortType=='stitches' && !vm.sortReverse" class="glyphicon glyphicon-triangle-top text-primary"></span>
                        </th>
                        <th class="clickable" ng-click="vm.sortType='colors'; vm.sortReverse = !vm.sortReverse">
                            Colors
                            <span ng-show="vm.sortType=='colors' && vm.sortReverse" class="glyphicon glyphicon-triangle-bottom text-primary"></span>
                            <span ng-show="vm.sortType=='colors' && !vm.sortReverse" class="glyphicon glyphicon-triangle-top text-primary"></span>
                        </th>
                        <th class="clickable" ng-click="vm.sortType='squareMillimeters'; vm.sortReverse = !vm.sortReverse">
                            Square millimeters
                            <span ng-show="vm.sortType=='squareMillimeters' && vm.sortReverse" class="glyphicon glyphicon-triangle-bottom text-primary"></span>
                            <span ng-show="vm.sortType=='squareMillimeters' && !vm.sortReverse" class="glyphicon glyphicon-triangle-top text-primary"></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="embroidery in vm.embroideries">
                        <td>{{embroidery.reference}}</td>
                        <td>{{embroidery.description}}</td>
                        <td>{{embroidery.retailPrice}}</td>
                        <td>{{embroidery.stitches}}</td>
                        <td>{{embroidery.colors}}</td>
                        <td>{{embroidery.squareMillimeters}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="panel" ng-hide="vm.embroideries.length > 0">
                <div class="panel-body">
                    No embroideries found with this data
                </div>
            </div>
            <div class="panel" ng-hide="!vm.loading">
                <div class="panel-body">
                    Loading...
                </div>
            </div>
            <div class="panel" ng-show="vm.error">
                <div class="panel-body">
                    Error loading embroideries
                </div>
            </div>
        </div>
        <div class="panel" ng-show="vm.embroideries.length>0">
            <div class="panel-body center">
                <paging
                    class="small"
                    page="vm.pageNumber + 1" 
                    page-size="vm.pageSize" 
                    total="vm.totalEmbroideries"
                    show-prev-next="true"
                    show-first-last="true"
                    text-next-class="glyphicon glyphicon-chevron-right"
                    text-prev-class="glyphicon glyphicon-chevron-left"
                    text-first-class="glyphicon glyphicon-backward"
                    text-last-class="glyphicon glyphicon-forward"
                    paging-action="vm.changeToPage(page - 1)">
                </paging>   
            </div>
        </div>
    </div>
</section>