<section>
    <div class="page-header">
	    <h1>
		    Article search
		    <small ng-show="!vm.authenticated" class="text-warning">
		        <span class="glyphicon glyphicon-exclamation-sign"></span>
		        No estás autorizado
		    </small>
	    </h1>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <div class="panel-title pull-left">
                Search filters
            </div>
            <div class="clearfix visible-xs"></div>
            <div class="pull-right center">
                <span class="clickable">            
                    <span ng-click="vm.onClickAdvancedSearch()">
		                <button class="btn btn-info" ng-show="vm.advancedSearchVisibility">
		                   Hide advanced filters
		                   <span class="glyphicon glyphicon-chevron-up"></span>
		                </button>
		                <button class="btn btn-info" ng-hide="vm.advancedSearchVisibility">
		                   Show advanced filters
		                   <span class="glyphicon glyphicon-chevron-down"></span>
		                </button>
	               </span>
	               <button class="btn btn-warning" ng-click="vm.clearFilters()">
	                   Clear filters
	                   <span class="glyphicon glyphicon-refresh"></span>
	               </button>
                </span>
	        </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="referenceInput">Search by reference</label>
                        <input ng-model="vm.searchValues.reference" id="referenceInput" placeholder="627-23-12_TPV" class="form-control">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="referenceInput">Search by description</label>
                        <input ng-model="vm.searchValues.description" id="referenceInput" placeholder="Description" class="form-control">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="minRetailPriceInput">Min retail price</label>
                            <input ng-model="vm.searchValues.minRetailPrice" type="number" min="0" step="0.01" id="minRetailPriceInput" class="form-control">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="maxRetailPriceInput">Max retail price</label>
                            <input ng-model="vm.searchValues.maxRetailPrice" type="number" min="0" step="0.01" id="maxRetailPriceInput" class="form-control">
                        </div>
                        <button class="btn btn-primary" ng-click="vm.onClickSearchButton()">
                            <span class="glyphicon glyphicon-search"></span>
                            Search
                        </button>                               
                    </div>  
                </div>
            </div>
            <div class="row" ng-show="vm.advancedSearchVisibility">
                <hr/>
                <div class="form-group col-lg-4">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="vm.searchValues.onlyOnStock">On stock
                        </label>
                    </div>
                </div>      
            </div>
        </div>
    </div>
    <br/>
    <div class="panel panel-primary">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="clickable" ng-click="vm.sortBy('reference')">
                            Reference
                            <span ng-show="vm.pageInfo.sortParameter=='reference' && vm.pageInfo.sortType == 'desc'" class="glyphicon glyphicon-triangle-bottom text-primary"></span>
                            <span ng-show="vm.pageInfo.sortParameter=='reference' && vm.pageInfo.sortType == 'asc'" class="glyphicon glyphicon-triangle-top text-primary"></span>
                        </th>
                        <th class="clickable" ng-click="vm.sortBy('description')">
                            Description
                            <span ng-show="vm.pageInfo.sortParameter=='description' && vm.pageInfo.sortType == 'desc'" class="glyphicon glyphicon-triangle-bottom text-primary"></span>
                            <span ng-show="vm.pageInfo.sortParameter=='description' && vm.pageInfo.sortType == 'asc'" class="glyphicon glyphicon-triangle-top text-primary"></span>
                        </th>
                        <th class="clickable" ng-click="vm.sortBy('retailPrice')">
                            Retail price
                            <span ng-show="vm.pageInfo.sortParameter=='retailPrice' && vm.pageInfo.sortType == 'desc'" class="glyphicon glyphicon-triangle-bottom text-primary"></span>
                            <span ng-show="vm.pageInfo.sortParameter=='retailPrice' && vm.pageInfo.sortType == 'asc'" class="glyphicon glyphicon-triangle-top text-primary"></span>
                        </th>
                        <th class="clickable" ng-click="vm.sortBy('stock')">
                            Stock
                            <span ng-show="vm.pageInfo.sortParameter=='stock' && vm.pageInfo.sortType == 'desc'" class="glyphicon glyphicon-triangle-bottom text-primary"></span>
                            <span ng-show="vm.pageInfo.sortParameter=='stock' && vm.pageInfo.sortType == 'asc'" class="glyphicon glyphicon-triangle-top text-primary"></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                <tr ng-repeat="article in vm.articles">
                        <td>{{article.reference}}</td>
                        <td>{{article.description}}</td>
                        <td>{{article.retailPrice}}</td>
                        <td>{{article.stock}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="panel" ng-hide="vm.articles.length > 0 || vm.error">
                <div class="panel-body">
                    No products found with this data
                </div>
            </div>
            <div class="panel" ng-hide="!vm.loading">
                <div class="panel-body">
                    Loading...
                </div>
            </div>
            <div class="panel" ng-show="vm.error">
                <div class="panel-body">
                    Error loading articles
                </div>
            </div>
        </div>
        <div class="panel" ng-show="vm.articles.length > 0">
            <div class="panel-body center">
                <paging
                    class="small"
                    page="vm.pageInfo.pageNumber + 1" 
                    page-size="vm.pageInfo.pageSize" 
                    total="vm.pageInfo.totalArticles"
                    show-prev-next="true"
                    show-first-last="true"
                    text-next-class="glyphicon glyphicon-chevron-right"
                    text-prev-class="glyphicon glyphicon-chevron-left"
                    text-first-class="glyphicon glyphicon-backward"
                    text-last-class="glyphicon glyphicon-forward"
                    paging-action="vm.changeToPage(page - 1)">
                </paging>   
            </div>
        </div>
    </div>
</section>