<section class="container">
    <div class="jumbotron text-center">
		<fieldset>
			<legend><b>CREATE INVOICE</b></legend>
			 <form class="form-horizontal">
			    <div class="panel panel-primary col-sm-6 col-sm-offset-3" style="padding:10px;">
			        <div class="row">
                        <div class="form-group">                    
                            <label class="control-label col-sm-3" for="id_ticket">Ticket ID:</label>
		                         <div class='col-sm-8'>
		                             <input type='text' placeholder="Introduce Ticket ID To Create Its Invoice" class="form-control" name='id_ticket' ng-model='vm.id_ticket' required />
		                         </div>
		                </div>
		            </div>
                    <div class="col-sm-2 col-sm-offset-4">
                        <button class="btn btn-primary" ng-click="vm.create()">Create Invoice</button>
                    </div>
                    <br>
                    <div class="form-group" style="margin-top:30px;">
                        <label class="col-sm-10 col-sm-offset-1 bg-danger" ng-show="vm.error" ng-bind='vm.response'></label>
                        <label class="col-sm-10 col-sm-offset-1 bg-success" ng-show="vm.completed" ng-bind='vm.response'></label>
                    </div>
				</div>
			</form>
		</fieldset>
	</div>
</section>