<section class="container">
    <div class="jumbotron text-center">
		<fieldset>
			<legend>Feature08. Create Invoice. Autor Corina Cabrera</legend>
			<form class="form-horizontal">
				<div class="form-group">					
					<label class="control-label col-sm-2 " for="id_ticket">ID del ticket:</label>
					<div class='col-sm-8'>
						<input type='text' class="form-control" name='id_ticket'
							ng-model='vm.id_ticket' required />
					</div>
					<div class="col-sm-2">
						<button class="btn btn-primary btn-sm" ng-click="vm.create()">Crear</button>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-offset-4 bg-success col-sm-6" ng-show="vm.completed">Petición correcta</label> 
					<label class="col-sm-offset-4 bg-danger col-sm-6" ng-show="vm.error">Error!!!</label>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" >Respuesta:</label>
					<label class="col-sm-4" ng-bind='vm.response'></label>
				</div>
				</form>
		</fieldset>
	</div>
</section>