<section class="container">
    <div class="jumbotron">
		<fieldset>
			<legend class="text-center" ng-init="vm.getInvoiceById()"><b>DETAILED INVOICE</b></legend>                    
			 
                <div class="table-responsive">
                <b>Invoice:</b>
                    <table class="table table-striped panel panel-default">
                        <tr>
                           <td>{{vm.data.id}}</td>
                        </tr>
                    </table>
                </div> 

                <div class="table-responsive">
                <b>Ticket:</b>
                    <table class="table table-striped panel panel-default">
                        <tr>
                           <td>{{vm.data.ticket.id}}</td>
                        </tr>
                    </table>
                </div> 

                <div class="table-responsive">
                <b>Customer:</b>
                    <table class="table table-striped panel panel-default">
                        <tr>
                            <th>Name</th>
                            <th>Mobile</th>
                            <th>DNI</th>
                            <th>Address</th>
                            <th>Email</th>
                        </tr>
                        <tr>
                            <td>{{vm.data.ticket.user.username}}</td>
                            <td>{{vm.data.ticket.user.mobile}}</td>
                            <td>{{vm.data.ticket.user.dni}} </td>
                            <td>{{vm.data.ticket.user.address}} </td>
                            <td>{{vm.data.ticket.user.email}} </td>
                        </tr>
                    </table>
                </div>

				<div class="table-responsive">
				<b>Shopping List:</b>
					<table class="table table-striped panel panel-default" style="padding:20px;">
					    <tr>
					       <th></th>
					        <th ng-repeat="(key, val) in vm.data.ticket.shoppingList[0]">{{key}}</th>
					    </tr>
					    <tr ng-repeat="id in vm.data.ticket.shoppingList">
					       <td></td>
					       <td ng-repeat="(key, val) in id">{{val}}</td>
					    </tr>
					</table>
                </div>
              
                <a class="btn btn-danger" ng-href="#feature08/list-invoices">
                <span class="glyphicon glyphicon-chevron-left"></span>Back</a>
		</fieldset>
	</div>
</section>