<section class="container">
    <div class="jumbotron">
		<fieldset>
			<legend class="text-center">INVOICES</legend>
				
				<div class="table-responsive">
			       <table class="table table-striped">
			         <thead>
			            <tr>
			              <th>Invoice ID</th>
			              <th>Ticket ID</th>
			              <th>Customer</th>
			              <th></th>
			            </tr>
			          </thead>
			          <tbody ng-init="vm.initList()">
			            <tr ng-repeat="invoice in vm.data">
			              <td>{{invoice.id}}</td>
			              <td>{{invoice.ticket.id}}</td>
			              <td>{{invoice.ticket.user.username}}</td>
			              <td><a class="btn btn-primary" ng-href="#feature08/details-invoice/{{invoice.id}}">Details</a></td>
			            </tr>
			          </tbody>
			        </table>
			            
			        <div class="no-data" ng-if="vm.data.length === 0">
			           <div class="panel-body"> No Invoices Found </div>
			        </div>
			    </div>
		</fieldset>
	</div>
</section>