<section class="container">
    <div class="jumbotron text-center">
		<fieldset>
			<legend>Populate Database (Testing purposes)</legend>
			<form class="form-horizontal">
				<div class="form-group">					
					<div class="col-sm-2">
						<button class="btn btn-primary" ng-click="vm.populate()">Populate Database</button>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" >Respuesta:</label>
					<label class="col-sm-4" ng-bind='vm.response'></label>
				</div>
				</form>
		</fieldset>
	</div>
</section>