<section class="container">
    <div class="jumbotron">
		<fieldset>
            <legend class="text-center" ng-init="vm.getUserById()"><b>MODIFY USER</b></legend>
            <div class="panel panel-primary col-md-8 col-md-offset-2">
                <form class="form-horizontal" role="form" name="formUser" ng-submit="vm.modifyUser()">
		          <div class="form-group" style="margin-top:20px;">
                    <label class="control-label label-id col-md-4">Id</label>
                    <div class="col-md-4">
                       <input type="text" class="form-control"  placeholder={{vm.user.id}} ng-model='vm.user.id' required readonly>
                    </div>
                  </div>
		          <div class="form-group">
		            <label class="control-label label-id col-md-4">Username</label>
		            <div class="col-md-4">
		               <input type="text" class="form-control"  placeholder={{vm.user.username}} ng-model='vm.user.username' required>
		            </div>
		          </div>
		          <div class="form-group">
                    <label class="control-label label-id col-md-4">Address</label>
                    <div class="col-md-4">
                       <input type="text" class="form-control"  placeholder={{vm.user.address}} ng-model='vm.user.address'>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label label-id col-md-4">DNI</label>
                    <div class="col-md-4">
                       <input type="text" class="form-control"  placeholder={{vm.user.dni}} ng-model='vm.user.dni'>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label label-id col-md-4">Email</label>
                    <div class="col-md-4">
                       <input type="email" class="form-control"  placeholder={{vm.user.email}} ng-model='vm.user.email'>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label label-id col-md-4">Mobile</label>
                    <div class="col-md-4">
                       <input type="number" class="form-control"  placeholder={{vm.user.mobile}} ng-model='vm.user.mobile' required>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label label-id col-md-4">Password</label>
                    <div class="col-md-4">
                       <input type="password" class="form-control"  placeholder={{vm.user.password}} ng-model='vm.user.password' required>
                    </div>
                  </div>    
		          <div class="form-group"> 
                    <div class="col-md-offset-5 col-md-10">
                        <input type="submit" class="btn btn-success" value="Save"> 
                    </div>
                 </div> 
                </form>
              </div>
		</fieldset>
		
		<a class="btn btn-danger col-md-offset-2" ng-href="#feature08/list-users">
        <span class="glyphicon glyphicon-chevron-left"></span>Back</a>
	</div>
</section>