<section class="container">

    <h2>Vouchers List:</h2>
    <br>
	<div class="panel panel-primary">
		<div class="table-responsive">
            <div ng-if="!vm.vouchers || vm.vouchers.length == 0" class="m-md">
                <h4>No data available</h4>
            </div>
			<table ng-if="vm.vouchers.length > 0" class="table table-striped">
		      <thead>
		          <tr>
                      <th>Id:</th>
                      <th>Reference:</th>
                      <th>Value:</th>
                      <th>Created:</th>
                      <th>Used:</th>
		          </tr>
		      </thead>
		      <tbody>
		          
		          <tr ng-repeat="voucher in vm.vouchers">
                      <td>{{ voucher.id }}</td>
                      <td>{{ voucher.reference }}</td>
                      <td>{{ voucher.value| currency:"€ " }}</td>
                      <td>{{ voucher.created | date:'dd/MM/yyyy' }}</td>
                      <td ng-if="voucher.dateOfUse">{{ voucher.dateOfUse | date:'dd/MM/yyyy' }}</td>
                      <td ng-if="!voucher.dateOfUse">-</td>
		          </tr>
		      </tbody>
			</table>
		</div>
	</div>
</section>
